/* App.css */

:root {
  --primary-color: #e1eacd; /* First-color */
  --secondary-color: #bad8b6; /* Second-color */
  --background-gradient: linear-gradient(to right, #7f7fd5, #91eae4);
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: var(--background-gradient);
  min-height: 100vh;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
}

.filterbox {
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.filterbox label {
  margin-right: 10px;
}

.filterbox input,
.filterbox select {
  width: calc(100% - 10px);
  margin-bottom: 10px;
}

.user-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-card {
  margin: 10px;
  width: 300px;
  max-width: 100%;
  border: 1px solid #01352c; /* Fourth-color border */
  border-radius: 8px;
  overflow: hidden;
}

.user-card .container {
  padding: 20px;
}

.user-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-page,
.previous,
.next {
  margin: 0 1rem;
  cursor: pointer;
}

.active {
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.3rem;
  border-radius: 1rem;
}

.disabled-page {
  color: #ccc;
  cursor: not-allowed;
}

.team-container {
  margin-top: 20px;
}

/* Additional Bootstrap Styling */
.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 8px;
  font-size: 14px;
}

.btn-primary {
  background-color: var(--primary-color);
  border: none;
}

.btn-primary:hover {
  background-color: var(--secondary-color);
}

/* Responsive Styles */
@media (min-width: 576px) {
  .user-card {
    width: calc(50% - 20px);
  }
}

@media (min-width: 768px) {
  .user-card {
    width: calc(33.3333% - 20px);
  }
}

@media (min-width: 992px) {
  .user-card {
    width: calc(25% - 20px);
  }
}

.lds-loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-loader div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-loader div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-loader div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-loader div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-loader {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}
